x64
vcpkg_installed
.vs
.git
.github
/build/CMakeFiles
/packages
packages.config
packer.html
CMakeLists.txt
/build/*
/x64/*
/packages/*

installer/bin/

installer/obj/

installer/7z.dll

installer/Resources/app.7z
